:root {
    --main-font: 'Roboto', Arial, sans-serif;
}

/* Estilo geral do body */

#container, #form {
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header a {
    text-decoration: none;
}

body {
    background: linear-gradient(to top, rgb(230,230,230), rgb(250,250,250));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

/* Estilo para o cabeçalho */
.header {
    text-align: center;
    background-color: rgb(200, 200, 200);
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 75px;
    margin-bottom: 50px;
}

/* Estilo para o container */
#container {
    background-color: rgb(218, 218, 218);
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 40%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    flex-grow: 1;
    margin-bottom: 2.5%;
}

/* Estilo para labels, inputs e selects */
label, input, select {
    padding: 10px 0;
    font-size: 15px;
    display: block;
    width: 100%;
}

/* Estilo para botões */
button {
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
    width: 80%;
    display: block;
    border-radius: 9px;
    transition: all 0.1s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: rgb(245, 245, 245);
    transform: scale(1.025);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

button.primary {
    background-color: #007bff;
    color: white;
    border: none;
}

button.primary:hover {
    background-color: #0056b3;
}

/* Estilo para o formulário */
#form {
    padding: 4px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 9px;
    text-align: center;
    background-color: rgb(218, 218, 218);
    margin: 20px auto;
    align-items: center;
    align-self: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    max-width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* Estilo para a tabela */
table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 12px;
    text-align: left;
    height: 35px;
}

th {
    background-color: rgb(180, 180, 180);
}

td {
    background-color: rgb(255, 255, 255);
}

/* Estilo para linha horizontal */
hr {
    border-color: transparent;
    width: 20%;
}

/* Estilo para input e button */
input, button, select {
    border-radius: 9px;
    border: transparent;
}

input {
    padding-left: 2%;
    width: 100%;
    box-sizing: border-box;
}

/* Estilo para o título */
h1 {
    padding-left: 1%;
}

/* Remoção dos botões de incremento de números */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}

/* Estilo da mensagem */
#message {
    margin-bottom: 5px;
    padding: 5px;
}

/* Estilo do footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    padding: 20px;
    color: #555;
    width: 100%;
    height: 0cqh; 
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.05);
    margin-top: 50px; 
    position: relative; 
}

/* Estilo dos links do footer */
.footer a {
    color: #555;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: rgb(20, 100, 180);
    text-decoration: underline;
}

/* Estilo dos links gerais */
a {
    color: black;
    transition: color 0.4s;
}

a:hover {
    color: rgb(20, 100, 180);
    text-decoration: underline;
}

