:root {
    --main-font: 'Roboto', Arial, sans-serif;
    --primary-color: #fd2f2f; /* Vermelho vibrante */
    --secondary-color: #1a1a1a; /* Preto escuro */
    --background-color: #0d0d0d; /* Preto absoluto */
    --text-color-light: #ffffff; /* Branco */
    --text-color-dark: #cccccc; /* Cinza claro */
}

/* Estilo geral do body */

#container, #form {
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background: var(--background-color);
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color-light);
}

/* Estilo para o cabeçalho */
.header {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 20px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.header a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.header a:hover {
    color: #ff9999;
}

/* Estilo para o container */
#container {
    background-color: var(--secondary-color);
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 40%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(255, 76, 76, 0.5);
    flex-grow: 1;
    margin-bottom: 2.5%;
    color: var(--text-color-light);
}

/* Estilo para labels, inputs e selects */
label, input, select {
    padding: 10px 0;
    font-size: 15px;
    display: block;
    width: 100%;
    color: var(--text-color-dark);
}

/* Estilo para botões */
button {
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
    width: 80%;
    display: block;
    border-radius: 9px;
    transition: all 0.1s ease;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: none;
    box-shadow: 0 4px 6px rgba(255, 76, 76, 0.4);
}

button:hover {
    background-color: rgba(255, 30,30, 1);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(255, 76, 76, 0.6);
}

/* Estilo para o formulário */
#form {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 9px;
    text-align: center;
    background-color: var(--secondary-color);
    margin: 20px auto;
    align-items: center;
    align-self: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    max-width: 25%;
    box-shadow: 0 4px 8px rgba(255, 76, 76, 0.5);
    color: var(--text-color-light);
}

/* Estilo para a tabela */
table {
    width: 100%;
    align-items: center;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    box-shadow: 0 4px 8px rgba(255, 76, 76, 0.5);
}

table, th, td {
    border: 1px solid var(--primary-color);
    border-radius: 2px;
}

th {
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

td {
    background-color: var(--secondary-color);
}

/* Estilo para linha horizontal */
hr {
    border-color: var(--primary-color);
    width: 20%;
}

/* Estilo para input e select */
input, select {
    border-radius: 9px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    padding: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

input::placeholder {
    color: var(--text-color-dark);
}

/* Estilo para o título */
h1, h2, h3 {
    color: var(--primary-color);
    text-align: center;
}

/* Estilo da mensagem */
#message {
    margin-bottom: 5px;
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border-radius: 5px;
}

/* Estilo do footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    padding: 10px 0;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    width: 100%;
    margin-top: auto;
    box-shadow: 0 -4px 8px rgba(255, 76, 76, 0.3);
}

.footer a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #ff6666;
}

/* Estilo dos links gerais */
a {
    color: var(--primary-color);
    transition: color 0.4s;
}

a:hover {
    color: #ff9999;
    text-decoration: underline;
}